@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: url(/backgroundCastles.png);
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: url(/backgroundEmpty.png);
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
